{% extends "engine/parts/base.html" %}
{% load humanize %}
{% block content %}
    <div class="padding b-b">
        <div class="row-col">
            <div class="col-sm w w-auto-xs m-b">
                <div class="item w rounded">
                    <div class="item-media">
                        <div class="item-media-content"
                             {% if user.avatar %}style="background-image: url({{ user.avatar.url }})" {% endif %}></div>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="vertical-align: middle">
                <div class="p-l-md no-padding-xs">
                    <h1 class="page-title">
                        <span class="h1 _800">{{ user.get_full_name }}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row-col">
        <div class="col-lg-9 b-r no-border-md">
            <div class="padding p-y-0 m-b-md">
                <div class="nav-active-border b-primary bottom m-b-md m-t">
                    <ul class="nav l-h-2x" data-ui-jp="taburl">
                        <li class="nav-item m-r inline">
                            <a class="nav-link active" href="#" data-toggle="tab" data-target="#seminars">Доступные
                                семинары</a>
                        </li>
                        <li class="nav-item m-r inline">
                            <a class="nav-link" href="#" data-toggle="tab" data-target="#chats">Чаты</a>
                        </li>
                        <li class="nav-item m-r inline">
                            <a class="nav-link" href="#" data-toggle="tab" data-target="#news">Новости</a>
                        </li>
                        <li class="nav-item m-r inline">
                            <a class="nav-link" href="#" data-toggle="tab" data-target="#edit">Изменить данные</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="seminars">
                        <div class="row item-list item-list-by m-b">
                            <div class="col-xs-12"><p>Здесь высвечиваются купленные вами семинары, <a class="alert-link" href="{% url 'seminars' %}">перейти к списку всех семинаров</a></p></div>
                            {% for seminar in seminars %}
                                <div class="col-xs-12">
                                    <a href="{{ seminar.get_absolute_url }}" class="item r d-block">
                                        <div class="item-media">
                                            <div class="item-media-content"
                                                 {% if seminar.image %}style="background-image: url('{{ seminar.image.url }}');"{% endif %}></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="item-title text-ellipsis">
                                                <span>{{ seminar.name }}</span>
                                            </div>
                                            <div class="item-meta text-sm text-muted">
                                                <span class="item-meta-date text-xs">{{ seminar.create }}</span>
                                            </div>

                                            <div class="item-except visible-list text-sm text-muted m-t-sm">
                                                {{ seminar.short_desc|safe }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane" id="chats">
                        <div class="row item-list item-list-md m-b">
                            {% for chat in chats %}
                                <div class="col-xs-12">
                                    <a class="item r d-block" href="{{ chat.get_absolute_url }}">
                                        <div class="item-media ">
                                            <div class="item-media-content"
                                                 style="background-image: url('{{ chat.last_message.user.avatar.url }}');"></div>
                                        </div>
                                        <div class="item-info">
                                            <div class="text-right time-message hidden-xs-down">
                                                <span class="text-muted text-sm">
                                                        {{ chat.last_message.create_time|naturalday }}
                                                </span>
                                            </div>
                                            <div class="item-title text-ellipsis">
                                                <span>{{ chat }}</span>
                                            </div>
                                            <div class="item-author text-sm text-ellipsis text-message">
                                                <span class="text-muted">
                                                    {% if chat.last_message %}
                                                        {{ chat.last_message.user.get_full_name }}:
                                                        {{ chat.last_message.message }}
                                                    {% else %}
                                                        В этот чат еще никто не писал
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% empty %}
                                <div class="col-xs-12">
                                    <p class="lead">Ничего не найдено</p>
                                </div>
                            {% endfor %}
                            <div class="col-xs-12 m-t-2">
                                <p class="lead">Для того, чтобы зайти в чат, к которому у вас нет доступа, <a
                                        href="{% url 'chat_app_create' %}" class="alert-link">оставьте заявку</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="news">
                        <div class="row item-list item-list-md m-b">
                            {% for new in news %}
                                <div class="col-xs-12">
                                    <a class="item r d-block">
                                        <div class="item-info">
                                            <div class="text-right time-message hidden-xs-down">
                                                <span class="text-muted text-sm">
                                                        {{ new.create|naturalday }}
                                                </span>
                                            </div>
                                            <div class="item-title text-ellipsis">
                                                <span>{{ new.theme }}</span>
                                            </div>
                                            <div class="item-author text-sm text-muted">
                                                {{ new.text|safe }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% empty %}
                                <div class="col-xs-12">
                                    <p class="lead">Ничего не найдено</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane" id="edit">
                        <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            <h2 class="widget-title h4 m-b">Общая информация</h2>
                            {% for field in form.visible_fields %}
                                <div class="form-group row">
                                    <label class="col-md-2 col-xs-12 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <div class="col-md-10 col-xs-12">
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <h2 class="widget-title h4 m-b">Образование</h2>
                            {% for form in formset %}
                                <div class="formset">
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% for field in form.visible_fields %}
                                        <div class="fieldWrapper">
                                            <div class="form-group row text-left">
                                                <label class="col-md-1 col-xs-12 col-form-label" for="{{ field.id_for_label }}">
                                                    #<span class="counter">{{ forloop.parentloop.counter }}</span>
                                                </label>
                                                <div class="col-md-10 col-xs-10">
                                                    {{ field }}
                                                    {% if field.errors %}
                                                        <div class="alert alert-danger m-t" role="alert">
                                                            {{ field.errors }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-1 col-xs-2"><a href="#" class="add-more"
                                                                                  data-type="education_set"><i
                                                        class="material-icons">plus_one</i></a></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Сохранить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}