{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding p-b-0">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-primary">
                    <div class="panel-body">
                        <div class="chat">
                            {% for message in messages %}
                                <div class="message clearfix">
                                <span class="chat-img pull-left">
                                    <img src="{{ message.user.avatar.url }}" alt="User Avatar" width="50" height="50"
                                         class="img-circle"/>
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">
                                                {% if message.user.get_personal_page %}
                                                    <a href="{% url 'landing' page_url=message.user.get_personal_page.page_url %}" target="_blank">{{ message.user.get_full_name }}</a>
                                                {% else %}
                                                    {{ message.user.get_full_name }}
                                                {% endif %}
                                            </strong>
                                            <small class="pull-right text-muted time">
                                                {{ message.create_time }}
                                            </small>
                                        </div>
                                        <p>
                                            {{ message.message|linebreaks }}
                                        </p>
                                        <div class="row item-list item-list-xs">
                                            {% for attach in message.get_attachments %}
                                                <div class="col-xs-12">
                                                    <a class="item r d-block" href="{{ attach.file.url }}" download>
                                                        <div class="item-info">
                                                            <div class="item-title text-muted text-ellipsis">
                                                                <i class="material-icons">insert_drive_file</i> {{ attach.file.name }}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <span class="input-group-addon">
                            <button class="btn btn-secondary btn-send material-icons" id="btn-chat-upload"
                                    data-toggle="modal" data-target="#upload-files">
                                attach_file</button>
                        </span>
                            <textarea id="message" type="text" rows="1" class="form-control"
                                      placeholder="Напишите сообщение..."></textarea>
                            <span class="input-group-addon">
                            <button class="btn btn-success btn-send material-icons" id="btn-chat">
                                send</button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row item-list item-list-xs m-t-1" id="new-attach">
                </div>
            </div>
        </div>
    </div>
    <div class="modal black lt fade" id="upload-files"
         data-backdrop="false">
        <a data-dismiss="modal"
           class="text-muted text-lg p-x modal-close-btn">&times;</a>
        <div class="row-col">
            <div class="p-a-lg h-v row-cell v-m">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="well text-muted text-center" id="upload-container">
                            <i class="fa fa-cloud-upload fa-4x" aria-hidden="true"></i>
                            <h3 class="m-b-2 m-t-2">Перетащите файлы для загрузки</h3>
                            <div class="m-b-2">или</div>
                            <button type="button" class="btn btn-primary js-upload-photos">
                                Выберите файлы
                            </button>
                            <div class="progress m-t-lg">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                     role="progressbar" style="width: 0%;">
                                    0%
                                </div>
                            </div>
                            <input id="chat_fileupload" name="file" type="file" multiple
                                   data-url="{% url 'chat_file_upload' %}"
                                   style="display: none"
                                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                        </div>
                        <div class="text-muted text-center d-none" id="upload-success">
                            <h3 class="m-b-2 m-t-2 upload-message"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    {% load static %}
    <script src="{% static 'site/scripts/chat.js' %}"></script>
{% endblock %}