{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
{#                {{ formset.management_form }}#}
                {% for field in form %}
                    <div class="form-group row">
                        <label class="col-md-2 col-xs-12 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="col-md-10 col-xs-12">
                            {{ field }}
                            {% if field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Отправить">
                </div>
            </form>
        </div>
{% endblock %}