{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ formset.management_form }}
            {% for field in form %}
                <div class="form-group row">
                    <label class="col-md-2 col-xs-12 col-form-label"
                           for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="col-md-10 col-xs-12">
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <h2 class="widget-title h4 m-b">Услуги</h2>
            {% for form in formset %}
                <div class="formset">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="fieldWrapper">
                            <div class="form-group row text-left">
                                <label class="col-md-2 col-xs-12 col-form-label" for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                                <div class="col-md-10 col-xs-10">
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="alert alert-danger m-t" role="alert">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="col-md-12 m-b-2">
                <a href="#" class="add-more justify-content-center service-add btn btn-default"
                   data-type="servicecustomer_set">Добавить еще</a>
            </div>
            <h2 class="widget-title h4 m-b">Отзывы</h2>
            <p class="lead m-b-0">Если вы хотите сослаться на отзывы о работе нашего центра "Артемида"
                выберите необходимые материалы</p>
            <div class="row item-list item-list-md m-b">
                {% load exist %}
                {% for testimonial in testimonials %}
                    <div class="col-md-4 m-t-1">
                        <div class="item r ta">
                            <input class="d-none" name="testimonials" value="{{ testimonial.id }}"
                                   id="id_testimonials_{{ testimonial.id }}"
                                   type="checkbox" {% testimonial_exist testimonial.id %}>
                            <span class="checked"><i class="fa fa-check fa-3x"></i></span>

                            <div class="item-info">
                                <div class="item-title text-ellipsis">
                                    <span>{{ testimonial }}</span>
                                </div>
                                <div class="item-author text-sm">
                                                <span class="text-muted">
                                                    {{ testimonial.text|safe }}
                                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h2 class="widget-title h4 m-b">Статьи</h2>
            <p class="lead m-b-0">Если вы хотите сослаться на научные работы нашего центра "Артемида"
                выберите необходимые материалы</p>
            <div class="row item-list item-list-md m-b">
                {% load exist %}
                {% for article in articles %}
                    <div class="col-md-4 m-t-1">
                        <div class="item r ta">
                            <input class="d-none" name="articles" value="{{ article.id }}"
                                   id="id_articles_{{ article.id }}"
                                   type="checkbox" {% article_exist article.id %}>
                            <span class="checked"><i class="fa fa-check fa-3x"></i></span>
                            <div class="item-media ">
                                <div class="item-media-content"
                                     style="background-size: auto; background: rgba(120, 120, 120, 0.2) url('https://png.icons8.com/ios/50/000000/pencil.png') no-repeat center center;"></div>
                            </div>
                            <div class="item-info">
                                <div class="item-title text-ellipsis">
                                    <span>{{ article }}</span>
                                </div>
                                <div class="item-author text-sm">
                                                <span class="text-muted">
                                                    {{ article.author }}
                                                </span>
                                </div>
                            </div>
                        </div>
                        <a data-toggle="modal" data-target="#modal-article-{{ article.id }}"
                           class="d-block m-t-1 btn btn-default">Читать статью</a>
                    </div>
                    <div class="modal white lt fade" id="modal-article-{{ article.id }}"
                         data-backdrop="false">
                        <a data-dismiss="modal"
                           class="text-muted text-lg p-x modal-close-btn">&times;</a>
                        <div class="row-col">
                            <div class="p-a-lg h-v row-cell v-m">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class=m-b-1>{{ article.title }}</h2>
                                        {{ article.text|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class="lead">Стоимость услуги: 3000 руб.</p>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Оплатить и создать">
            </div>
        </form>
    </div>
{% endblock %}