{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding p-b-0">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        <div class="row">
            <div class="col-md-9 col-xs-12 doctors">
                <div class="row">
                    <div id="map"></div>
                    {% for doctor in doctors %}
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 city-doctor"
                             onclick="openPopup({{ doctor.id }})"
                             data-id="{{ doctor.id }}"
                             data-name="{{ doctor.get_full_name }}" data-spec="{{ doctor.specialization }}"
                             data-city="{{ doctor.city }}"
                             data-email="{{ doctor.email }}" data-phone="{{ doctor.phone }}"
                             data-lat="{{ doctor.city.latitude }}" data-lng="{{ doctor.city.longitude }}">
                            <div class="item r">
                                <div class="item-media ">
                                    {% if doctor.get_personal_page %}
                                        <a href="{{ doctor.get_personal_page.get_absolute_url }}"
                                           class="item-media-content"
                                           style="background-image: url('{{ doctor.avatar.url }}');"
                                           target="_blank"></a>
                                    {% else %}
                                        <div class="item-media-content"
                                             style="background-image: url('{{ doctor.avatar.url }}');"></div>
                                    {% endif %}
                                </div>
                                <div class="item-info">
                                    <div class="item-title text-ellipsis">
                                        {{ doctor.get_full_name }}
                                    </div>
                                    <div class="item-author text-sm text-ellipsis ">
                                        <span class="text-muted">{{ doctor.specialization }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-md-12">
                            <p class="lead">По вашему запросу ничего не найдено.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-3 col-xs-12">
                <h6 class="text text-muted">Фильтр</h6>
                <div class="row item-list item-list-sm m-b">
                    <div class="col-xs-12">
                        <form action="{% url 'search_page' %}" class="m-b-md">
                            <div class="form-group">
                                {{ seatch_form.city }}
                            </div>
                            <div class="form-group">
                                <input type="search" placeholder="Введите ключевое слово" name="s" class="form-control">
                            </div>
                            <input type="submit" class="btn black p-x-lg" value="Применить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        var doctors;
        var markers = {};
        var popups = {};
        var map;
        var activePopup;

        function initMap() {
            var moscow = {lat: 55.7522200, lng: 37.6155600};
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5,
                center: moscow
            });

            doctors = $(".city-doctor");

            $("#all").append(doctors.clone());

            $(doctors).each(function (i) {
                var id = $(this).data("id");
                var name = $(this).data("name");
                var email = $(this).data("email");
                var phone = $(this).data("phone");
                var city = $(this).data("city");
                var spec = $(this).data("spec");
                var lat = parseFloat($(this).data("lat").replace(',', '.'));
                var lng = parseFloat($(this).data("lng").replace(',', '.'));

                markers[id] = new google.maps.Marker({
                    position: {lat: lat, lng: lng},
                    map: map
                });

                var contentString = '<h3 class="popover-title">' + name + '</h3><div class="popover-content"><ul class="contacts-popover"><li>Город: ' + city + '</li><li>E-mail: ' + email + '</li><li>Телефон: ' + phone + '</li></ul></div>';

                popups[id] = new google.maps.InfoWindow({
                    content: contentString
                });

                markers[id].addListener('click', function () {
                    activePopup.close();
                    popups[id].open(map, markers[id]);
                    activePopup = popups[id];
                });
            }).ready(function () {
                activePopup = Object.values(popups)[0];
            });
        }

        function openPopup(id) {
            activePopup.close();
            popups[id].open(map, markers[id]);
            activePopup = popups[id];
            document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQBGag-IdZVIE0ygUdSVQJInEQPhD-KQk&callback=initMap">
    </script>
{% endblock %}