{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding p-b-0">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        <div class="row">
            <div class="col-md-9 col-xs-12 doctors">
                <div class="row">
                    {% for doctor in doctors %}
                        <div class="col-xs-4 col-sm-4 col-md-3">
                            <div class="item r">
                                <div class="item-media ">
                                    {% if doctor.get_personal_page %}
                                        <a href="{{ doctor.get_personal_page.get_absolute_url }}"
                                           class="item-media-content"
                                           style="background-image: url('{{ doctor.avatar.url }}');" target="_blank"></a>
                                    {% else %}
                                        <div class="item-media-content user-popover"
                                             style="background-image: url('{{ doctor.avatar.url }}');"
                                             data-toggle="popover" title="Контактная информация" data-placement="right"
                                             data-html="true"
                                             data-content="<ul class='contacts-popover'><li>Город: {{ doctor.city }}</li><li>E-mail: {{ doctor.email }}</li><li>Телефон: {{ doctor.phone }}</li></ul>"></div>
                                    {% endif %}
                                </div>
                                <div class="item-info">
                                    <div class="item-title text-ellipsis">
                                        {{ doctor.get_full_name }}
                                    </div>
                                    {% if doctor.specialization %}
                                    <div class="item-author text-sm text-ellipsis ">
                                        <span class="text-muted">{{ doctor.specialization }}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-md-12">
                            <p class="lead">По вашему запросу ничего не найдено.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-3 col-xs-12">
                <h6 class="text text-muted">Фильтр</h6>
                <div class="row item-list item-list-sm m-b">
                    <div class="col-xs-12">
                        <form action="{% url 'search_page' %}" class="m-b-md">
                            <div class="form-group">
                                {{ seatch_form.city }}
                            </div>
                            <div class="form-group">
                                <input type="search" placeholder="Введите ключевое слово" name="s" class="form-control">
                            </div>
                            <input type="submit" class="btn black p-x-lg" value="Применить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}