{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding">
        <div class="page-title">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        <div class="row m-t-2">
            <div class="col-md-12">
                <div id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="m-b-0 faq-caption">
                                <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true"
                                   aria-controls="collapseOne">
                                    Какое количество услуг можно добавить на свою персональную страницу?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body padding">
                                Вы можете добавить какое угодно количество называемых вами услуг, нажимая на кнопку "Добавить" в соответствующем разделе!
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="m-b-0 faq-caption">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button"
                                   aria-expanded="false" aria-controls="collapseTwo">
                                    Где я могу отредактировать свою информацию, если она изменилась?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                             data-parent="#accordion">
                            <div class="card-body padding">
                                Вся ваша персональная информация размещается в разделе "Профиль", доступ к которому можно получить нажав на своё имя в нижнем левом углу.
                            </div>
                        </div>
                    </div>
                </div>
                <p class="lead m-t">Если Вы не нашли ответа на свой вопрос, задайте его к администратору ресурса - artemida61@yandex.ru</p>
            </div>
        </div>
    </div>
{% endblock %}