{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding p-b-0">

        <div class="col-md-12">
            <main role="main">
                <div class="jumbotron">
                    <h1 class="display-5">Личный кабинет на сайте "Артемида"</h1>
                    <p class="lead">Web-сервис, предоставляющий врачам доступ к различным семинарам и материалам, а так же дающий возможность создать собственный сайт всего за пару кликов!</p>
                    <p>
                        {% if user.is_authenticated %}
                            <a class="btn btn-lg btn-success" href="{% url 'account_detail' %}" role="button">Аккаунт</a>
                        {% else %}
                            <a class="btn btn-lg btn-success" href="{% url 'registration_register' %}" role="button">Зарегистрироваться</a>
                        {% endif %}
                    </p>
{#                    <div class="m-t-3">#}
{#                        <a class="btn blue-100" href="{% url 'prepayment' pk=1 %}" role="button">Внести предоплату за семинар 1</a>#}
{#                        <a class="btn blue-100" href="{% url 'prepayment' pk=2 %}" role="button">Внести предоплату за семинар 2</a>#}
{#                        <a class="btn blue-100" href="{% url 'prepayment' pk=3 %}" role="button">Внести предоплату за семинар 3</a>#}
{#                    </div>#}
                </div>

            </main>
        </div>
    </div>
{% endblock %}