{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">Помощь в создании персональной страницы</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="lead">
                    Возникли трудность в создании персональной страницы? Мы вам поможем! Отправьте информацию о себе, фотографии и пожелания на наш e-mail (vozduh.media@ya.ru) и мы соберем из этого привлекательную, креативную и продающую страницу.
                </p>
                <p class="lead">Стоимость услуги: 4000 руб.</p>
                <a href="{% url 'personal_page_app_payment' %}" class="btn success">Оплатить и создать</a>
            </div>
        </div>
    </div>
{% endblock %}