{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">Вы подали заявку на создание персональной страницы.</h1>
        </div>
    </div>
{% endblock %}