{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding">
        <div class="page-title">
            <h1 class="inline m-a-0">Покупка услуги</h1>
        </div>
        <div class="row">
            <div class="col-md-9">
                <p class="lead">{{ seminar.short_desc|safe }}</p>
                <form action="http://shop-artemida.server.paykeeper.ru/create/" method="post">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Услуга</td>
                                <td>{{ service }}</td>
                            </tr>
                            <tr>
                                <td>Стоимость</td>
                                <td>{{ order.get_amount }} рублей</td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" name="clientid" value="{{ order.user.get_full_name }}">
                    <input type="hidden" name="sum" value="{{ order.amount }}">
                    <input type="hidden" name="orderid" value="{{ order.id }}">
                    <input type="hidden" name="service_name" value="{{ service }}">
                    <input type="submit" class="btn btn-success p-x-lg" value="Оплатить">
                </form>
            </div>
        </div>
    </div>
{% endblock %}