{% extends "engine/parts/base.html" %}
{% block content %}

    <div class="padding b-b is-bg">
        <div class="row-col">
            <div class="col-sm w w-auto-xs m-b">
                <div class="item w rounded">
                    <div class="item-media">
                        <div class="item-media-content"
                             {% if personal_page.user.avatar %}style="background-image: url({{ personal_page.user.avatar.url }})"{% endif %}></div>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="vertical-align: middle">
                <div class="p-l-md no-padding-xs">
                    <h1 class="page-title">
                        <span class="h1 _800">{{ personal_page.user.get_full_name }}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row-col">
        <div class="col-lg-9 b-r no-border-md">
            <div class="padding p-y-0 m-b-md">
                <div class="nav-active-border b-primary bottom m-b-md m-t">
                    <ul class="nav l-h-2x" data-ui-jp="taburl">
                        <li class="nav-item m-r inline">
                            <a class="nav-link active" href="#" data-toggle="tab" data-target="#info">Информация</a>
                        </li>
                        <li class="nav-item m-r inline">
                            <a class="nav-link" href="#" data-toggle="tab" data-target="#edit">Редактировать</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="info">
                        <div class="row item-list item-list-by m-b">
                            <div class="col-md-12">
                                <h2 class="widget-title h4 m-b">Ссылка на Вашу страницу</h2>
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                           value="http://lk.artemida-mc.ru{{ personal_page.get_absolute_url }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h2 class="widget-title h4 m-b">Информация</h2>

                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <td>Полное имя</td>
                                        <td>{{ personal_page.user.get_full_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td>
                                        <td>{{ personal_page.user.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Телефон</td>
                                        <td>{{ personal_page.user.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>Город</td>
                                        <td>{{ personal_page.user.city }}</td>
                                    </tr>
                                    <tr>
                                        <td>Образование</td>
                                        <td>
                                            <ol class="edu-list">
                                                {% for e in edu %}
                                                    <li>{{ e.edu }}</li>
                                                {% endfor %}
                                            </ol>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Дата рождения</td>
                                        <td>{{ personal_page.user.birthday }}</td>
                                    </tr>
                                    <tr>
                                        <td>Специализация</td>
                                        <td>{{ personal_page.user.specialization }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <h2 class="widget-title h4 m-b">О себе</h2>
                                {{ personal_page.information|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="gallery">
                        <div class="row gallery-row">
                            {% for image in gallery_images %}
                                {% if image.image %}
                                    <div class="col-xs-4 col-sm-3 col-md-2 m-b-2">
                                        <div class="item r">
                                            <div class="item-media ">
                                                <a class="item-media-content img-modal"
                                                   style="background-image: url({{ image.image.url }});"
                                                   data-id="{{ image.id }}"
                                                   data-target="{{ image.image.url }}"></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane" id="edit">
                        <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ formset.management_form }}
                            {% for field in form %}
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <div class="col-md-10">
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <h2 class="widget-title h4 m-b">Услуги</h2>
                            {% for form in formset %}
                                <div class="formset">
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {% for field in form.visible_fields %}
                                        <div class="fieldWrapper">
                                            <div class="form-group row text-left">
                                                <label class="col-md-2 col-xs-12 col-form-label" for="{{ field.id_for_label }}">
                                                    {{ field.label }}
                                                </label>
                                                <div class="col-md-10 col-xs-10">
                                                    {{ field }}
                                                    {% if field.errors %}
                                                        <div class="alert alert-danger m-t" role="alert">
                                                            {{ field.errors }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                                <a href="#" class="d-block m-b-2 add-more justify-content-center service-add btn btn-default"
                                   data-type="servicecustomer_set">Добавить еще</a>
                        <h2 class="widget-title h4 m-b">Отзывы</h2>
                            <p class="lead m-b-0">Если вы хотите сослаться на отзывы о работе нашего центра "Артемида"
                                выберите необходимые материалы</p>
                            <div class="row item-list item-list-md m-b">
                                {% load exist %}
                                {% for testimonial in testimonials %}
                                    <div class="col-md-4 m-t-1">
                                        <div class="item r ta">
                                            <input class="d-none" name="testimonials" value="{{ testimonial.id }}"
                                                   id="id_testimonials_{{ testimonial.id }}"
                                                   type="checkbox" {% testimonial_exist testimonial.id %}>
                                            <span class="checked"><i class="fa fa-check fa-3x"></i></span>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <span>{{ testimonial}}</span>
                                                </div>
                                                <div class="item-author text-sm">
                                                <span class="text-muted">
                                                    {{ testimonial.text|safe  }}
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <h2 class="widget-title h4 m-b">Статьи</h2>
                            <p class="lead m-b-0">Если вы хотите сослаться на научные работы нашего центра "Артемида"
                                выберите необходимые материалы</p>
                            <div class="row item-list item-list-md m-b">
                                {% load exist %}
                                {% for article in articles %}
                                    <div class="col-md-4 m-t-1">
                                        <div class="item r ta">
                                            <input class="d-none" name="articles" value="{{ article.id }}"
                                                   id="id_articles_{{ article.id }}"
                                                   type="checkbox" {% article_exist article.id %}>
                                            <span class="checked"><i class="fa fa-check fa-3x"></i></span>
                                            <div class="item-media ">
                                                <div class="item-media-content"
                                                     style="background-size: auto; background: rgba(120, 120, 120, 0.2) url('https://png.icons8.com/ios/50/000000/pencil.png') no-repeat center center;"></div>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title text-ellipsis">
                                                    <span>{{ article }}</span>
                                                </div>
                                                <div class="item-author text-sm">
                                                <span class="text-muted">
                                                    {{ article.author }}
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a data-toggle="modal" data-target="#modal-article-{{ article.id }}"
                                           class="d-block m-t-1 btn btn-default">Читать статью</a>
                                    </div>
                                    <div class="modal white lt fade" id="modal-article-{{ article.id }}"
                                         data-backdrop="false">
                                        <a data-dismiss="modal"
                                           class="text-muted text-lg p-x modal-close-btn">&times;</a>
                                        <div class="row-col">
                                            <div class="p-a-lg h-v row-cell v-m">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h2 class=m-b-1>{{ article.title }}</h2>
                                                        {{ article.text|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success" value="Сохранить">
                            </div>
                        </form>
                    </div>
                    <div class="modal black lt fade" id="add-new-images"
                         data-backdrop="false">
                        <a data-dismiss="modal"
                           class="text-muted text-lg p-x modal-close-btn">&times;</a>
                        <div class="row-col">
                            <div class="p-a-lg h-v row-cell v-m">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <div class="well text-muted text-center" id="upload-container">
                                            <i class="fa fa-cloud-upload fa-4x" aria-hidden="true"></i>
                                            <h3 class="m-b-2 m-t-2">Перетащите изображения для загрузки</h3>
                                            <div class="m-b-2">или</div>
                                            <button type="button" class="btn btn-primary js-upload-photos">
                                                <span class="glyphicon glyphicon-cloud-upload"></span> Выберите
                                                файлы
                                            </button>
                                            <div class="progress m-t-lg">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                     role="progressbar" style="width: 0%;">
                                                    0%
                                                </div>
                                            </div>
                                            <input id="fileupload" name="image" type="file" multiple
                                                   data-url="{% url 'gallery_upload' %}"
                                                   style="display: none"
                                                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                                        </div>
                                        <div class="text-muted text-center d-none" id="upload-success">
                                            <h3 class="m-b-2 m-t-2 upload-message"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}