{% extends "engine/parts/base.html" %} {% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ event.title }}</h1>
            <p class="m-t-1 lead">Стоимость: {{ event.get_amount }} рублей</p>
        </div>
        <div class="row">
            <div class="col-md-12">
{#                <p class="lead">#}
{#                    {{ event.text|safe }}#}
{#                </p>#}
                <h2 class="widget-title h4 m-t-2 m-b-1">Внести предоплату</h2>
                <form class="form-horizontal" method='POST' action='http://shop-artemida.server.paykeeper.ru/create/'>
                    <input type='hidden' name='sum' value='{{ event.get_amount }}'/>
                    <input type='hidden' name='service_name' value='{{ event.title }}'/>
                    <div class="form-group row text-left">
                        <div class="col-md-10 col-xs-12 "><input type='text' name='clientid' class="form-control"
                                                                 value='' placeholder="Введите ФИО" required/></div>
                    </div>
                    <div class="form-group row text-left">
                        <div class="col-md-10 col-xs-12 "><input type='text' name='client_phone' class="form-control"
                                                                 value='' placeholder="Введите номер телефона" required/></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-lg black p-x-lg" value="Перейти к оплате">
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}