{% extends "engine/parts/base.html" %}
{% load static %}
{% block content %}
    <div class="padding p-b-0">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav cat-nav m-b-1">
                    <li class="nav-item">
                        <a class="nav-link mixitup-control-active" href="#" data-filter="all">Все</a>
                    </li>
                    {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-filter=".cat-{{ category.id }}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row item-list seminars item-list-by m-b">
            {% for seminar in seminar_list %}
                <div class="col-xs-12 cat-{{ seminar.category.id }}">
                    <a href="{{ seminar.get_absolute_url }}" class="item r d-block">
                        <div class="item-media">
                            <div class="item-media-content"
                                 style="background-size: auto; background: rgba(120, 120, 120, 0.2) url('https://png.icons8.com/ios/50/000000/documentary.png') no-repeat center center;"></div>
                        </div>
                        <div class="item-info">
                            <div class="item-title text-ellipsis">
                                <span>{{ seminar.name }}</span>
                            </div>
                            <div class="item-meta text-sm text-muted">
                                <span class="item-meta-date">{{ seminar.create }}</span>
                            </div>

                            <div class="item-except visible-list text-sm text-muted m-t-sm">
                                {{ seminar.short_desc|safe }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'site/libs/mixitup/mixitup.min.js' %}"></script>
    <script>
        var mixer = mixitup(document.querySelector('.seminars'), {
            selectors: {
                target: '.col-xs-12'
            },
            animation: {
                enable: false
            },

        });
    </script>
{% endblock %}