{% extends "engine/parts/base.html" %}
{% load static %}
{% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ seminar.name }}</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="lead">{{ seminar.description|safe }}</p>
                <div class="nav-active-border b-primary bottom m-b-md m-t">
                    <ul class="nav l-h-2x" id="seminar-tab" role="tablist">
                        {% if videos %}
                            <li class="nav-item m-r inline">
                                <a class="nav-link active" id="video-tab" data-toggle="tab" href="#video" role="tab"
                                   aria-controls="video" aria-selected="true">Видео к семинару</a>
                            </li>
                        {% endif %}
                        {% if audios %}
                            <li class="nav-item m-r inline">
                                <a class="nav-link" id="audio-tab" data-toggle="tab" href="#audio" role="tab"
                                   aria-controls="audio" aria-selected="false">Аудио к семинару</a>
                            </li>
                        {% endif %}
                        {% if images %}
                            <li class="nav-item m-r inline">
                                <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab"
                                   aria-controls="image" aria-selected="false">Фото к семинару</a>
                            </li>
                        {% endif %}
                        {% if docs %}
                            <li class="nav-item m-r inline">
                                <a class="nav-link" id="doc-tab" data-toggle="tab" href="#doc" role="tab"
                                   aria-controls="doc" aria-selected="false">Документы к семинару</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="tab-content" id="seminar-content">
                    {% if videos %}
                        <div id="video" class="tab-pane active item-masonry item-info-overlay row" role="tab"
                             aria-labelledby="video-tab">
                            {% for video in videos %}
                                <div class="col-sm-3 col-xs-6">
                                    <div class="item r">
                                        <div class="item-media ">
                                            <div class="item-media-content"
                                                 style="background-image: url('images/b0.jpg');"></div>
                                            <div class="item-overlay center">
                                                <a class="btn-playpause" data-toggle="modal"
                                                   data-target="#modal-video-id-{{ forloop.counter }}">Пуск</a>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="item-title text-ellipsis">
                                                {{ video.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal black lt fade" id="modal-video-id-{{ forloop.counter }}"
                                     data-backdrop="false">
                                    <a data-dismiss="modal" class="text-muted text-lg p-x modal-close-btn">&times;</a>
                                    <div class="row-col">
                                        <div class="p-a-lg h-v row-cell v-m">
                                            <div class="row">
                                                <div class="col-md-8 offset-md-2">
                                                    <video src="{% if video.attachment_link %}{{ video.attachment_link }}{% else %}{{ video.attachment.url }}{% endif %}" width="100%" height="100%"
                                                           oncontextmenu="return false;"
                                                    class="mejs__player img-fluid" ></video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if audios %}
                        <div id="audio" class="tab-pane row item-list item-list-md m-b" role="tab"
                             aria-labelledby="audio-tab">
                            {% for audio in audios %}
                                <div class="col-md-6 col-lg-4">
                                    <div class="item r">
                                        <div class="item-media ">
                                            <div class="item-media-content audio"
                                                 style="background-image: url('{% static 'site/images/music-icon.png' %}');"></div>
                                            <div class="item-overlay center">
                                                <button class="btn-playpause audio-play"
                                                        data-id="#audio-id-{{ forloop.counter }}"
                                                        data-src="{{ audio.attachment.url }}">Play
                                                </button>
                                                <audio src="{{ audio.attachment.url }}" class="audio-player"
                                                       id="audio-id-{{ forloop.counter }}"
                                                       oncontextmenu="return false;"></audio>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="item-title">
                                                {{ audio.name }}
                                            </div>
                                            <div class="item-progress">
                                                <progress id="seek-obj-audio-id-{{ forloop.counter }}" value="0"
                                                          max="1"></progress>
                                                <small class="start-time" id="start-time-audio-id-{{ forloop.counter }}"></small>
                                                <small class="end-time" id="end-time-audio-id-{{ forloop.counter }}"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if images %}
                        <div id="image" class="tab-pane" role="tab" aria-labelledby="image-tab">
                            <div class="row">
                                {% for image in images %}
                                    <div class="col-xs-4 col-sm-4 col-md-3">
                                        <div class="item r">
                                            <div class="item-media ">
                                                <a class="item-media-content"
                                                   style="background-image: url({{ image.attachment.url }});"
                                                   data-toggle="modal"
                                                   data-target="#modal-image-id-{{ forloop.counter }}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal black lt fade" id="modal-image-id-{{ forloop.counter }}"
                                         data-backdrop="false">
                                        <a data-dismiss="modal"
                                           class="text-muted text-lg p-x modal-close-btn">&times;</a>
                                        <div class="row-col">
                                            <div class="p-a-lg h-v row-cell v-m">
                                                <div class="row">
                                                    <div class="col-md-8 offset-md-2">
                                                        <img src="{{ image.attachment.url }}" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if docs %}
                        <div id="doc" class="tab-pane" role="tab" aria-labelledby="doc-tab">
                            <table class="table table-striped table-hover table-bordered">
                                <tbody>
                                {% for doc in docs %}
                                    <tr>
                                        <td><a href="{{ doc.attachment.url }}">{{ doc.name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}