{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding">
        <div class="page-title">
            <h1 class="inline m-a-0">{{ seminar.name }}</h1>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="lead m-t">{{ seminar.short_desc|safe }}</div>
                <a href="{{ seminar.get_payment_url }}" class="btn btn-success p-x-lg">Получить доступ</a>

            </div>
        </div>
    </div>
{% endblock %}