{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding">
        {% if messages %}
            {% for message in messages %}
                <div class="page-title">
                    <h1 class="inline m-a-0">{{ message }}</h1>
                </div>
            {% endfor %}
        {% else %}
            <div class="page-title">
                <h1 class="inline m-a-0">Покупка услуги</h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <form action="" method="post">
                        {% csrf_token %}
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td>Услуга</td>
                                <td>{{ software.get_service_name }}</td>
                            </tr>
                            <tr>
                                <td>ID оборудования</td>
                                <td>{{ software.id_device }}</td>
                            </tr>
                            <tr>
                                <td>Стоимость</td>
                                <td>{{ software.get_amount }} рублей</td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td><input id="email-for-check" required type="email" name="email"
                                           placeholder="Введите свой e-mail для получения чека" class="form-control">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input type="hidden" name="software_id" value="{{ software.id }}">
                        <input disabled id="software-payment-submit" type="submit" class="btn btn-success p-x-lg"
                               value="Оплатить">
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script>
        $('#email-for-check').keyup(function () {

            var valid = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test($(this).val())

            if (!valid) {
                $('#software-payment-submit').attr('disabled', 'disabled');
            } else {
                $('#software-payment-submit').removeAttr('disabled');
            }
        });
    </script>
{% endblock %}