{% extends "engine/parts/base.html" %} {% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        <div class="alert alert-success" role="alert">
            Ваша заявка успешно отправлена!
        </div>
    </div>

{% endblock %}