{% extends "engine/parts/base.html" %}
{% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">Персональная страница - это</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="lead">
                    Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет
                    никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на
                    интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и
                    т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую
                    нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при
                    оценке качества восприятия макета.
                </p>
                <a href="http://lk.artemida-mc.ru/landing/hodareva/" class="btn black p-x-lg" target="_blank">Пример
                    страницы</a>
                <a href="{% url 'create_personal_page' %}" class="btn black">Создать персональную страницу</a>
                <a href="{% url 'help_create_personal_page' %}" class="btn black">Мне нужна помощь в создании</a>
            </div>
        </div>
    </div>
{% endblock %}