<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новая заявка на чат</title>
</head>
<body>
    <ul>
        <li>Чат: {{ chat }}</li>
        <li>Пользователь: {{ user }}</li>
    </ul>
</body>
</html>