<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ваш аккаунт активирован</title>
</head>
<body>
<p>Добрый день, {{ username }}. Ваш аккаунт на сайте <a href="http://lk.artemida-mc.ru/">lk.artemida-mc.ru</a> успешно активирован. Вы можете войти в свой <a href="http://lk.artemida-mc.ru/login/">личный кабинет</a></p>
</body>
</html>