{% extends "engine/parts/base.html" %} {% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        {% if user.is_authenticated %}
            <div class="alert alert-danger" role="alert">
                Вы уже вошли!
            </div>
        {% else %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="b-t">
                <div class="w-auto-xs p-y-md text-center">
                    <div class="p-a-md">
                        <form action="" class="form-horizontal" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group row text-left">
                                    <label class="col-md-2 col-xs-12 col-form-label">{{ field.label }}</label>
                                    <div class="col-md-10 col-xs-12 ">{{ field }}</div>
                                    {% if field.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-lg black p-x-lg" value="Войти">
                                <a href="{% url 'password_reset' %}" class="btn btn-lg black p-x-lg">Восстановить пароль</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        {% endif %}
    </div>

{% endblock %}