{% extends "engine/parts/base.html" %} {% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        {% if user.is_authenticated %}
            <div class="alert alert-danger" role="alert">
                Вы уже вошли!
            </div>
        {% else %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="b-t">
                <div class="w-auto-xs p-y-md text-center">
                    <div class="p-a-md">
                        <form action="" class="form-horizontal" method="post">
                            {% csrf_token %}
                            {% if form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}
                            <div class="form-group row text-left">
                                <div class="col-md-12 col-xs-12 "><input name="email" id="id_email" maxlength="254"
                                                                         placeholder="Введите адрес электронной почты"
                                                                         class="form-control" type="email"></div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-lg black p-x-lg" value="Сбросить пароль">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}