{% extends "engine/parts/base.html" %} {% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        {% if user.is_authenticated %}
            <div class="alert alert-danger" role="alert">
                Вы уже вошли!
            </div>
        {% else %}
            <div class="b-t">
                <div class="w-auto-xs p-y-md text-center">
                    <div class="p-a-md">
                        <p>Инструкция по восстановлению пароля отправлена на почту.</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

