{% extends "engine/parts/base.html" %} {% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        {% if user.is_authenticated %}
            <div class="alert alert-danger" role="alert">
                Вы уже вошли!
            </div>
        {% endif %}
        <div class="b-t">
            <div class="w-auto-xs p-y-md text-center">
                <div class="p-a-md">
                    {% if validlink %}
                        <form action="" class="form-horizontal" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group row text-left">
                                    <laber class="col-md-2 col-xs-12 col-form-label">{{ field.label }}</laber>
                                    <div class="col-md-10 col-xs-12 ">{{ field }}</div>
                                    {% if field.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <input type="submit" class="btn btn-lg black p-x-lg" value="Сбросить пароль">
                            </div>
                        </form>
                    {% else %}
                        <p>Ошибка восстановления пароля</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

