{% extends "engine/parts/base.html" %}
{% load exist %}
{% block content %}
    <div class="padding">
        <div class="page-title m-b-md">
            <h1 class="inline m-a-0">{{ title }}</h1>
        </div>
        {% if user.is_authenticated %}
            <div class="alert alert-danger" role="alert">
                Вы уже вошли!
            </div>
        {% else %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="b-t">
                <div class="w-auto-xs m-t-1">
                    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        <h2 class="widget-title h4 m-b">Общая информация</h2>
                        {% for field in form.visible_fields %}
                            <div class="form-group row text-left {{ field.id_for_label }}">
                                <label class="col-md-2 col-xs-12 col-form-label"
                                       for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="col-md-10 col-xs-12">
                                    {{ field }}
                                    {% if field|field_type == 'CheckboxInput' %}
                                        {{ field.help_text }}
                                    {% endif %}
                                    {% if field.errors %}
                                        <div class="alert alert-danger m-t" role="alert">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <h2 class="widget-title h4 m-b">Образование</h2>
                        {% for form in formset %}
                            <div class="formset">
                                {% for field in form.visible_fields %}
                                    <div class="fieldWrapper">
                                        <div class="form-group row text-left">
                                            <label class="col-md-1 col-xs-12 col-form-label" for="{{ field.id_for_label }}">
                                                #<span class="counter">{{ forloop.parentloop.counter }}</span>
                                            </label>
                                            <div class="col-md-10 col-xs-10">
                                                {{ field }}
                                                {% if field.errors %}
                                                    <div class="alert alert-danger m-t" role="alert">
                                                        {{ field.errors }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-1 col-xs-2">
                                                <a href="#" class="add-more" data-type="education_set"><i
                                                        class="material-icons">plus_one</i></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="form-group text-center m-t">
                            <input type="submit" class="btn btn-lg black p-x-lg" value="Зарегистрироваться">
                        </div>
                    </form>
                </div>
            </div>


        {% endif %}
    </div>

{% endblock %}