body {
    color: #666666;
}

.banner {
    background: no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    visibility: inherit;
    position: relative;
}

.mask {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.caption {
    position: absolute;
    color: #fff;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*-webkit-box-shadow: -1px 12px 23px 0px rgba(0, 0, 0, 0.72);*/
    /*-moz-box-shadow: -1px 12px 23px 0px rgba(0, 0, 0, 0.72);*/
    /*box-shadow: -1px 12px 23px 0px rgba(0, 0, 0, 0.72);*/
}

.caption h1 {
    padding: 20px;
    margin-top: 30%;
    font-size: 7vmin;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    letter-spacing: 0px;
    font-weight: 400;
}

.description {
    padding: 60px 0 60px 0;
}

.desc-img {
    margin-bottom: 30px;
}

.desc-img {
    max-width: 200px;
    object-fit: cover;
    object-position: top center;
    margin-right: 30px;
    float: left;
}

.services {
    background-image: url(../../images/customer/slide_bg.jpg);
    background-size: initial;
    padding: 60px 0 60px 0;
}

.page-header-line {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    height: 3px;
    width: auto;
    border-bottom: 2px dotted #1b98e0;
}

.page-header {
    text-align: center;
    margin: 30px 10px 30px 10px;
    text-transform: uppercase;
    -webkit-box-flex: 0;
    border: none;
    outline: 0;
    height: auto;
    width: auto;
    font-size: 2em;
    letter-spacing: 3px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.rounded-circle {
    border-radius: 50%;
}

.service {
    margin-bottom: 30px;
    text-align: center;
}

.service img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.service h4 {
    text-align: center;
    margin-top: 20px;
}

.articles, .testimonials {
    padding: 30px 0 30px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.testimonial-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.testimonial-text {
    max-width: 500px;
    margin: auto;
}

.carousel-control, .carousel-control:hover, .carousel-control:focus {
    color: #1b98e0;
}

.contacts, .enroll {
    background-image: url(../../images/customer/slide_bg1.jpg);
    background-size: initial;
    padding: 60px 0 60px 0;
}

.contact {
    display: flex;
}

.contact .fa {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 45px;
    border-radius: 50%;
    border: 2px solid #1b98e0;
    text-align: center;
    color: #1b98e0;
    font-size: 28px;
    float: left;
}

.contact p {
    display: block;
    margin-left: 20px;
    min-height: 50px;
    line-height: 45px;
    font-size: 20px;
}

.contact p a {
    color: #1b98e0;
}

.contact p a:hover {
    color: #0c4457;
    text-decoration: none;
}

.justify-content-center {
    justify-content: center !important;
}

footer {
    text-align: center;
    padding: 30px 0 30px 0;
    background-color: #333;
    color: #fff;
}

footer a {
    text-decoration: underline;
    color: #fff;
    transition: color .2s;
}

footer a:hover {
    color: #fff
}

.m-t-1 {
    margin-top: 1em;
}

.btn-primary {
    background-color: #1B98E0;
    border-color: #1B98E0;
}

.modal-content {
    border: none;
}

@media screen and (min-width: 768px) {
    .modal-lg {
        max-width: 80%;
    }
}
