<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <meta name="description" content="Артемида"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    {% load static %}
    <link rel="apple-touch-icon" href="">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'site/css/font-awesome/css/font-awesome.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'site/css/bootstrap/dist/css/bootstrap.customer.css' %}" type="text/css"/>

    <link rel="stylesheet" href="{% static 'site/css/styles/font.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'site/css/styles/customer.css' %}" type="text/css"/>

</head>
<body>
<section class="banner" style="background-image: url({{ landing.banner.url }})">
    <div class="caption">
        <h1>{{ landing.title }}</h1>
    </div>
</section>
<section class="description">
    <div class="container">
        <div class="row">
            <div class="">
            </div>
            <div class="desc-text">
                <img src="{{ landing.about_img.url }}" alt="" class="desc-img img-thumbnail">
                {{ landing.information|safe }}
            </div>
        </div>
    </div>
</section>
{% if services %}
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center">
                    <div class="page-header-line"></div>
                    <h2 class="page-header">Услуги</h2>
                    <div class="page-header-line"></div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                {% for service in services %}
                    <div class="col-md-6 col-lg-3">
                        <div class="service">
                            <img src="{{ service.image.url }}" alt=""
                                 class="img-fluid rounded-circle">
                            <h4>{{ service.title }}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% if landing.articles.all %}
    <section class="articles">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center">
                    <div class="page-header-line"></div>
                    <h2 class="page-header">Статьи</h2>
                    <div class="page-header-line"></div>
                </div>
            </div>
            <div class="card-group">
                {% for article in landing.articles.all %}
                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <div class="card-text">Автор: {{ article.author }}</div>
                            <a href="#" data-toggle="modal" data-target="#modal-article-{{ article.id }}"
                               class="d-block m-t-1 btn btn-primary align-bottom">Читать статью</a>
                        </div>
                    </div>
                    <div class="modal fade" tabindex="-1" id="modal-article-{{ article.id }}" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ article.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ article.text|safe }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% if landing.testimonials.all %}
    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex align-items-center">
                    <div class="page-header-line"></div>
                    <h2 class="page-header">Отзывы</h2>
                    <div class="page-header-line"></div>
                </div>
            </div>
            <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for testimonial in landing.testimonials.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %} p-2">
                            <div class="testimonial text-center">
                                <h6 class="m-t-1">{{ testimonial.author }}</h6>
                                <div class="testimonial-text">{{ testimonial.text|safe }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control carousel-control-prev" href="#carousel-testimonials" role="button"
                   data-slide="prev">
                    <i class="fa fa-arrow-left fa-2x"></i>
                </a>
                <a class="carousel-control carousel-control-next" href="#carousel-testimonials" role="button"
                   data-slide="next">
                    <i class="fa fa-arrow-right fa-2x"></i>
                </a>
            </div>
        </div>
    </section>
{% endif %}
<section class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex align-items-center">
                <div class="page-header-line"></div>
                <h2 class="page-header">Контакты</h2>
                <div class="page-header-line"></div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <div class="contact">
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <p>{{ landing.user.city }}</p>
                </div>
            </div>
            {% if landing.contacts_or_link == 'button' and landing.enroll_link %}
                <div class="col-lg-6">
                <a href="{{ landing.enroll_link }}" target="_blank"
                   class="d-block m-t-1 btn btn-primary align-bottom">{{ landing.enroll_text }}</a>
                </div>
            {% else %}
                <div class="col-lg-4">
                    <div class="contact">
                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <p><a href="tel:{{ landing.user.phone }}">{{ landing.user.phone }}</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact">
                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <p><a href="mailto:{{ landing.user.email }}">{{ landing.user.email }}</a></p>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</section>
<footer>
    <p>
        © 2017. <a href="http://artemida-mc.ru/">Артемида</a> - медицинский центр инновационных технологий. <a
            href="http://lk.artemida-mc.ru/">Вход в личный
        кабинет</a>.
    </p>
</footer>
<script src="{% static 'site/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'site/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>