<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <meta name="description" content="Артемида"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    {% load static %}
    <link rel="apple-touch-icon" href="">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="">

    <!-- style -->
    <link rel="stylesheet" href="{% static 'site/css/animate.css/animate.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'site/css/font-awesome/css/font-awesome.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'site/css/material-design-icons/material-design-icons.css' %}"
          type="text/css"/>
    <link rel="stylesheet" href="{% static 'site/css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css"/>

        <link rel="stylesheet" href="{% static 'site/libs/datapicker/css/bootstrap-datepicker.min.css' %}" type="text/css"/>


    <!-- build:css css/styles/app.min.css -->
    <link rel="stylesheet" href="{% static 'site/css/styles/app.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'site/css/styles/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'site/css/styles/font.css' %}" type="text/css"/>

    <link rel="stylesheet" href="{% static 'site/libs/mediaelement/build/mep.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'site/libs/jquery-ui/jquery-ui.min.css' %}" type="text/css"/>
    <!-- endbuild -->

    <link rel="stylesheet" href="{% static 'site/libs/player/mediaelementplayer.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'site/libs/intlTelInput/css/intlTelInput.min.css' %}"/>

    <style type="text/css">
        #preloader {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 999;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: #363C43 url({% static 'site/images/preloader.svg' %}) no-repeat center center;
        }
    </style>

</head>
<body>
<div id="preloader"></div>
<div class="app dk" id="app">
    {% include 'engine/parts/sidebar.html' %}
    <div class="page-content">
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    <div class="footer">
        <p class=" text-center text-muted">Copyright 2017. <a href="http://artemida-mc.ru/" class="alert-link underline" target="_blank2">Артемида</a> - медицинский центр инновационных технологий</p>
    </div>
    {% include 'engine/parts/search.html' %}
</div>
<script src="{% static 'site/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'site/libs/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'site/libs/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'site/libs/datapicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'site/libs/datapicker/locales/bootstrap-datepicker.ru.min.js' %}"></script>

<script src="{% static 'site/libs/jquery.mask/jquery.mask.min.js' %}"></script>
<script src="{% static 'site/libs/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'site/libs/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'site/libs/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'site/libs/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>

<script src="{% static 'site/libs/intlTelInput/js/intlTelInput-jquery.min.js' %}"></script>

<script src="{% static 'site/scripts/app.js' %}"></script>
<script src="{% static 'site/scripts/site.js' %}"></script>
<script src="{% static 'site/scripts/add-more.js' %}"></script>
<script src="{% static 'site/scripts/ui-device.js' %}"></script>
<script src="{% static 'site/libs/player/mediaelement-and-player.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>