<!-- ############ SEARCH START -->
    <div class="modal black lt fade" id="search-modal" data-backdrop="false">
      <a data-dismiss="modal" class="text-muted text-lg p-x modal-close-btn">&times;</a>
      <div class="row-col">
        <div class="p-a-lg h-v row-cell v-m">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <form action="{% url 'search_page' %}" class="m-b-md">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" name="s" placeholder="Введите поисковой запрос" >
                  <span class="input-group-btn">
                    <button class="btn b-a no-shadow white" type="submit">Искать</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ############ SEARCH END -->