<!-- aside -->
<div id="aside" class="app-aside modal fade nav-dropdown">
    <!-- fluid app aside -->
    <div class="left navside grey dk" data-layout="column">
        <div class="navbar no-radius">
            <!-- brand -->
            <a href="{% url 'front_page' %}" class="navbar-brand md">
                <span class="hidden-folded inline">Личный кабинет</span>
            </a>
            <!-- / brand -->
        </div>
        <div data-flex class="hide-scroll">
            <nav class="scroll nav-stacked nav-active-primary">

                <ul class="nav" data-ui-nav>
                    <li>
                        <a href="http://artemida-mc.ru/">
                  <span class="nav-icon">
                    <i class="material-icons">
                      home
                    </i>
                  </span>
                            <span class="nav-text">Сайт центра</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'seminars' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      book
                    </i>
                  </span>
                            <span class="nav-text">Семинары</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'doctors_list' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      people
                    </i>
                  </span>
                                <span class="nav-text">Специалисты</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      help
                    </i>
                  </span>
                                <span class="nav-text">Помощь</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#search-modal">
                  <span class="nav-icon">
                    <i class="material-icons">
                      search
                    </i>
                  </span>
                                <span class="nav-text">Поиск</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a href="{% url 'view_personal_page' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      receipt
                    </i>
                  </span>
                                <span class="nav-text">Персональная страница</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account_detail' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      account_circle
                    </i>
                  </span>
                                <span class="nav-text">Мой профиль</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      exit_to_app
                    </i>
                  </span>
                                <span class="nav-text">Выход</span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      account_circle
                    </i>
                  </span>
                                <span class="nav-text">Вход</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'registration_register' %}">
                  <span class="nav-icon">
                    <i class="material-icons">
                      exit_to_app
                    </i>
                  </span>
                                <span class="nav-text">Регистрация</span>
                            </a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- / -->
<!-- content -->
<div id="content" class="app-content white bg box-shadow-z2" role="main">
    <div class="app-header hidden-lg-up white lt box-shadow-z1">
        <div class="navbar">
            <!-- brand -->
            <a href="{% url 'front_page' %}" class="navbar-brand md">
                <span class="hidden-folded inline">Артемида</span>
            </a>
            <!-- / brand -->
            <!-- nabar right -->
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item">
                    <!-- Open side - Naviation on mobile -->
                    <a data-toggle="modal" data-target="#aside" class="nav-link">
                        <i class="material-icons">menu</i>
                    </a>
                    <!-- / -->
                </li>
            </ul>
            <!-- / navbar right -->
        </div>
    </div>
    <div class="app-body" id="view">