<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}

    <link rel="stylesheet" href="{% static 'site/css/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css"/>

    <style type="text/css">
        body {
            padding-top: 20px;
        }

        .item {
            position: relative;
            margin: 0 auto;
        }

        .item-media {
            position: relative;
            display: block;
            padding: 0;
            overflow: hidden;
            border-radius: inherit;
            height: 150px;
            width: 150px;
        }

        .item-media-content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 0;
            border-radius: inherit;
            background: rgba(120, 120, 120, 0.2) no-repeat 50% 50%;
            background-size: cover;
        }

        .item-info {
            position: relative;
            padding: 10px 0 20px 0;
            border-radius: inherit;
        }

        .text-ellipsis {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .item-title {
            font-weight: 600;
        }

        .text-sm {
            font-size: 0.8rem;
        }

        .text-muted {
            color: inherit !important;
            opacity: 0.6;
        }

        .r {
            border-radius: 3px;
        }

        .nav {
            margin-bottom: 30px;
        }

        .nav-item {
            margin-bottom: 20px;
        }

        #map {
            border-top: 1px solid rgba(0, 0, 0, .1);
            margin-bottom: 30px;
            height: 350px;
        }

        .city-doctor {
            cursor: pointer;
        }

        #cities .nav-item {
            margin-bottom: 0;
            width: 100%;
        }

        .nav-pills .nav-link {
            color: #000;
        }

        .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus{
            background-color: #e9580c;
        }
    </style>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills" id="cities" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-all" data-toggle="tab" href="#all" role="tab"
                       aria-controls="all"
                       aria-selected="true">Все города</a>
                </li>
                {% for city in cities %}
                    <li class="nav-item">
                        <a class="nav-link" id="{{ city.id }}" data-toggle="tab" href="#{{ city.name|cut:" " }}"
                           role="tab"
                           aria-controls="{{ city.name }}"
                           aria-selected="true">{{ city.alternate_names }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
            <div id="map"></div>

            <div class="tab-content row" id="cities-content">
                <div class="tab-pane fade active in" id="all" role="tabpanel" aria-labelledby="tab-all">

                </div>
                {% for city in cities %}
                    <div class="tab-pane fade" id="{{ city.name|cut:" " }}" role="tabpanel"
                         aria-labelledby="{{ city.id }}">
                        {% for doctor in city.get_users %}

                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 city-doctor"
                                 onclick="openPopup({{ doctor.id }})"
                                 data-id="{{ doctor.id }}"
                                 data-name="{{ doctor.get_full_name }}" data-spec="{{ doctor.specialization }}"
                                 data-city="{{ doctor.city }}"
                                 data-email="{{ doctor.email }}" data-phone="{{ doctor.phone }}"
                                 data-lat="{{ doctor.city.latitude }}" data-lng="{{ doctor.city.longitude }}">
                                <div class="item r">
                                    <div class="item-media ">
                                        {% if doctor.get_personal_page %}
                                            <a href="{{ doctor.get_personal_page.get_absolute_url }}"
                                               class="item-media-content"
                                               style="background-image: url('{{ doctor.avatar.url }}');"
                                               target="_blank"></a>
                                        {% else %}
                                            <div class="item-media-content"
                                                 style="background-image: url('{{ doctor.avatar.url }}');"></div>
                                        {% endif %}
                                    </div>
                                    <div class="item-info">
                                        <div class="item-title text-ellipsis">
                                            {{ doctor.get_full_name }}
                                        </div>
                                        {#                                    <div class="item-author text-sm text-ellipsis ">#}
                                        {#                                        <span class="text-muted">{{ doctor.specialization }}</span>#}
                                        {#                                    </div>#}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-md-12">
                                <p class="lead">По вашему запросу ничего не найдено.</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


<script src="{% static 'site/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'site/libs/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'site/libs/bootstrap/dist/js/bootstrap.js' %}"></script>

<script>
    var doctors;
    var markers = {};
    var popups = {};
    var map;
    var activePopup;

    function initMap() {
        var moscow = {lat: 55.7522200, lng: 37.6155600};
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5,
            center: moscow
        });

        doctors = $(".city-doctor");

        $("#all").append(doctors.clone());

        $(doctors).each(function (i) {
            var id = $(this).data("id");
            var name = $(this).data("name");
            var email = $(this).data("email");
            var phone = $(this).data("phone");
            var city = $(this).data("city");
            var spec = $(this).data("spec");
            var lat = parseFloat($(this).data("lat").replace(',', '.'));
            var lng = parseFloat($(this).data("lng").replace(',', '.'));

            markers[id] = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                map: map
            });

            var contentString = '<h3 class="popover-title">' + name + '</h3><div class="popover-content"><ul class="contacts-popover"><li>Город: ' + city + '</li><li>E-mail: ' + email + '</li><li>Телефон: ' + phone + '</li></ul></div>';

            popups[id] = new google.maps.InfoWindow({
                content: contentString
            });

            markers[id].addListener('click', function () {
                activePopup.close();
                popups[id].open(map, markers[id]);
                activePopup = popups[id];
            });
        }).ready(function () {
            activePopup = Object.values(popups)[0];
        });
    }

    function openPopup(id) {
        activePopup.close();
        popups[id].open(map, markers[id]);
        activePopup = popups[id];
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQBGag-IdZVIE0ygUdSVQJInEQPhD-KQk&callback=initMap">
</script>
</body>
</html>